.learning-options-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.learning-option-button {
  padding: 0.5rem;
  border-radius: 25px;
  background: transparent;
  border: 1px solid green;
  margin: 3px;
}

.learning-option-button:hover {
  background: orange;
}

.learning-option-button:focus {
  outline: none;
}

.selected {
  background-color: orange;
}
